.home {
    display: flex;
    flex-wrap: wrap;
    max-width: 1923px;
}

.row-reverse {
    flex-direction: row-reverse;
}

.wall-right {
    position: relative;
    width: 429px;
    height: 842px;
    background-color: rgb(255, 255, 255);
    z-index: -2;
}

.shelf {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sh-1 {
    top: 242px;
}

.sh-2 {
    top: 389px;
}

.sh-2-2 {
    height: 17px;
    width: 100%;
    position: absolute;
    top: 0;
}


.sh-3 {
    top: 536px;
}

.shelf::before {
    content: '';
    background: url(img/shelf-shadow.png);
    position: absolute;
    width: 241.57px;
    height: 39.08px;
    z-index: -1;
}

.frame {
    position: absolute;
    top: 156px;
    left: 50%;
    transform: translateX(-50%);
}

.sh-2::after {
    content: '';
    background: url(img/flower.png);
    position: absolute;
    width: 138.15px;
    height: 124.15px;
    z-index: -1;
    top: -124px;
    left: 0px;
}

.sh-2-2::before {
    content: '';
    background: url(img/clock.png);
    position: absolute;
    width: 96.58px;
    height: 96.65px;
    z-index: -1;
    top: -97px;
    right: 0;
}

.sh-3::after {
    content: '';
    background: url(img/cakes.png);
    position: absolute;
    width: 166.32px;
    height: 99.85px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    top: -100px;
}

.cabinet {
    position: absolute;
    right: 84px;
    top: -216px;
}

.c-1 {
    position: absolute;
    background-color: #FFFDAE;
    width: 194.56px;
    height: 86.84px;
    left: 22px;
    top: 142px;
}

.c-2-h {
    position: absolute;
    width: 42.87px;
    height: 6.32px;
    background: #4F5460;
    top: 165px;
    left: 100px;
    opacity: 0.6;

}

.c-3 {
    position: absolute;
    width: 194.56px;
    height: 98.06px;
    background: #FFFDAE;
    left: 21px;
    top: 25px;
}

.c-4-h {
    position: absolute;
    width: 42.87px;
    height: 6.32px;
    background: #4F5460;
    left: 100px;
    top: 55px;
    opacity: 0.6;
}

.cabinet::before {
    content: '';
    background: url(img/cabinet-shadow.png);
    position: absolute;
    width: 144.86px;
    height: 228.78px;
    right: -10px;
    z-index: -1;
}

.wall-window {
    position: relative;
    height: 842px;
    width: 402px;
    background-color: #999292;
    z-index: -6;

}

.wall-window::before {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background-color: #363942;
    opacity: 0.26;
}

.wall-window::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 100%;
    background-color: #363942;
    opacity: 0.26;
    right: 0;
}


.window {
    position: absolute;
    top: 104px;
    left: 36px;
    z-index: 1;
}

.rope {
    position: absolute;
    right: 5px;
    top: 0;
    z-index: -1;
}

.blinds {
    position: absolute;
    top: 25.5px;
    left: 17.5px;
}

.blind {
    width: 301.07px;
    height: 15.16px;
    background: url(img/blind.png);
    /* background-size: contain; */
}

.wall-center {
    position: relative;
    width: 259.88px;
    height: 842px;
    background-color: rgb(255, 255, 255);
    z-index: -6;
}

.photo-square {
    position: absolute;
    top: 369px;
    left: 80px;
    z-index: 1;
}

.photo-square::before {
    content: '';
    background: url(img/shadow-s.png);
    position: absolute;
    width: 103.37px;
    height: 111.2px;
    right: 0;
    z-index: -1;
}

.photo-circle {
    position: absolute;
    top: 206px;
    left: 75px;
    z-index: 1;
}

.photo-circle::before {
    content: '';
    background: url(img/shadow-c.png);
    position: absolute;
    width: 110.06px;
    height: 110.15px;
    right: 0;
    z-index: -1;
}

.wall-left {
    position: relative;
    width: 429px;
    height: 842px;
    background-color: rgb(255, 255, 255);
    z-index: -2;
    
}

.tv {
    position: absolute;
    top: 185px;
    left: 56px;
    z-index: 1;
}

.tv::before {
    content: '';
    background: url(img/tv-shadow.png);
    position: absolute;
    width: 330.5px;
    height: 197px;
    top: 8px;
    left: -11px;
    z-index: -1;
}

.flower-2 {
    position: absolute;
    top: -400px;
    left: 156px;

}

.floor {
    position: relative;
    height: 237px;
    width: 1920px;
    background: url(img/floor.png);
}

.carpet {
    position: absolute;
    background: url(img/carpet.png);
    width: 1654.04px;
    height: 135.69px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 2;
}

.sofa {
    position: absolute;
    width: 844.77px;
    height: 381.51px;
    left: 50%;
    transform: translateX(-50%);
    background: url(img/sofa.png);
    top: -292px;
    z-index: 1;
}

.pillow-left {
    position: absolute;
    width: 148.53px;
    height: 147.02px;
    background: url(img/pillow-left.png);
    left: 114px;
    top: 71px;
}

.pillow-right {
    position: absolute;
    width: 157.41px;
    height: 164.68px;
    background: url(img/pillow-right.png);
    right: 118px;
    top: 56px;
}

.plaid {
    position: absolute;
    width: 162px;
    height: 98.34px;
    background: url(img/plaid.png);
    left: 50%;
    transform: translateX(-50%);
    top: -14px;
}

.chair-r {
    position: absolute;
    width: 223.15px;
    height: 201.46px;
    background: url(img/chair-r.png);
    right: 265px;
    top: -120px;
}

.chair-l {
    position: absolute;
    width: 223.15px;
    height: 201.46px;
    background: url(img/chair-l.png);
    left: 245px;
    top: -120px;
}

.table {
    position: absolute;
    width: 544.69px;
    height: 267.44px;
    background: url(img/table.png);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    top: -151px;
}

.aquarium {
    position: absolute;
    width: 192.99px;
    height: 174.51px;
    background: url(img/aquarium.png);
    left: 169px;
    top: -142px;
}

.fish {
    position: absolute;
    width: 75px;
    height: 91px;
    background: url(img/fish.png);
    left: 120px;
    top: 80px;
    animation: swim 7s linear infinite;

}

.fish-2 {
    position: absolute;
    width: 50px;
    height: 33px;
    background: url(img/рыба\ дз.png);
    background-size: cover;
    left: 20px;
    top: 70px;
    animation: fish-2 20s linear infinite;
}

.boobles {
    position: absolute;
    width: 133.79px;
    height: 116.91px;
    background: url(img/boobles.png);
    left: 16%;
    top: 36px;

}

.rock {
    position: absolute;
    width: 186.81px;
    height: 144.09px;
    background: url(img/rock.png);
    top: 32px;
    left: 9px;
}

.waterman {
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(img/waterman.png);
    background-size: 80px 80px;
    display: none;
}


@keyframes swim {
    0% {
      transform: translate(-40%, -40%) rotate(0deg);
    }
    50% {
      transform: translate(-40%, -40%) rotate(10deg);
    }
    100% {
      transform: translate(-40%, -40%) rotate(0deg);
    }
  }

@keyframes fish-2 {
    0% {
        transform: scaleX(-1);
    }

    40% {
        transform: scaleX(-1);
    }

    50% {
        transform: scaleX(1);
        left: 110px;
    }

    90% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(-1);
    }
  }


  





  